.side-bar {
  position: fixed;
  left: 0; 
  bottom: 0;
  top: 57px; 
  width: 72px; 
  z-index: 200;
  /* background-color: green; */
}

.video-time {
  background-color: black;
  color: white; 
  opacity: 0.9;
  position: absolute;
  bottom: 9px;
  right: 5px; 
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 4px; 
  border-radius: 2px;
  font-weight: bold;
  font-family: Roboto, Arial;
}

.sidebar-link {
  /* background-color: lightgray; */
  height: 76px; 
  margin-bottom: 3px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar-link:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sidebar-icons {
  width: 30px;
}

.text {
  font-size: 11px;
  font-family: Roboto, Arial;
  font-weight: 500;
  text-align: center;
}