.thumbnail {
  width: 100%; /*change to 100% to make the image fit inside the container*/
}

.video-title {
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: bold;
  color: rgb(39, 39, 39);
  line-height: 14px;
  margin-bottom: 7px;
  margin-top: 6px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.views-count {
  font-family: Roboto, Arial;
  font-size: 11px;
  color: rgb(99, 99, 99);
}

.channel {
  font-family: Roboto, Arial;
  font-size: 11px;
  color: rgb(96, 96, 96);
  margin-bottom: 3px;
}

.profile-picture {
  border-radius: 100px;
  margin-top: 3px;
}

.pfp {
  width: 40px;
  border-radius: 100px;
}

.video-info {
  display: inline-block;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 16px;
}

.thumbnail-row {
  position: relative;
}
